<div>
    <h2 id="page-heading">
        <span jhiTranslate="zanichelliApp.utente.home.title">Utentes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-utente" [routerLink]="['/utente/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="zanichelliApp.utente.home.createLabel">
            Create new Utente
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="utentes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="zanichelliApp.utente.nome">Nome</span></th>
            <th><span jhiTranslate="zanichelliApp.utente.cognome">Cognome</span></th>
            <th><span jhiTranslate="zanichelliApp.utente.email">Email</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let utente of utentes ;trackBy: trackId">
                <td><a [routerLink]="['/utente', utente.id, 'view' ]">{{utente.id}}</a></td>
                <td>{{utente.nome}}</td>
                <td>{{utente.cognome}}</td>
                <td>{{utente.email}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/utente', utente.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/utente', utente.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'utente/'+ utente.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
